<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>😄</key>
    <string>58389</string>
    <key>😊</key>
    <string>57430</string>
    <key>😃</key>
    <string>57431</string>
    <key>☺</key>
    <string>58388</string>
    <key>😉</key>
    <string>58373</string>
    <key>😍</key>
    <string>57606</string>
    <key>😘</key>
    <string>58392</string>
    <key>😚</key>
    <string>58391</string>
    <key>😳</key>
    <string>58381</string>
    <key>😌</key>
    <string>58378</string>
    <key>😁</key>
    <string>58372</string>
    <key>😜</key>
    <string>57605</string>
    <key>😝</key>
    <string>58377</string>
    <key>😒</key>
    <string>58382</string>
    <key>😏</key>
    <string>58370</string>
    <key>😓</key>
    <string>57608</string>
    <key>😔</key>
    <string>58371</string>
    <key>😞</key>
    <string>57432</string>
    <key>😖</key>
    <string>58375</string>
    <key>😥</key>
    <string>58369</string>
    <key>😰</key>
    <string>58383</string>
    <key>😨</key>
    <string>58379</string>
    <key>😣</key>
    <string>58374</string>
    <key>😢</key>
    <string>58387</string>
    <key>😭</key>
    <string>58385</string>
    <key>😂</key>
    <string>58386</string>
    <key>😲</key>
    <string>58384</string>
    <key>😱</key>
    <string>57607</string>
    <key>😠</key>
    <string>57433</string>
    <key>😡</key>
    <string>58390</string>
    <key>😪</key>
    <string>58376</string>
    <key>😷</key>
    <string>58380</string>
    <key>👿</key>
    <string>57626</string>
    <key>👽</key>
    <string>57612</string>
    <key>💛</key>
    <string>58156</string>
    <key>💙</key>
    <string>58154</string>
    <key>💜</key>
    <string>58157</string>
    <key>💗</key>
    <string>58152</string>
    <key>💚</key>
    <string>58155</string>
    <key>❤</key>
    <string>57378</string>
    <key>💔</key>
    <string>57379</string>
    <key>💓</key>
    <string>58151</string>
    <key>💘</key>
    <string>58153</string>
    <key>✨</key>
    <string>58158</string>
    <key>⭐</key>
    <string>58159</string>
    <key>🌟</key>
    <string>58165</string>
    <key>💢</key>
    <string>58164</string>
    <key>❗</key>
    <string>57377</string>
    <key>❕</key>
    <string>58167</string>
    <key>❓</key>
    <string>57376</string>
    <key>❔</key>
    <string>58166</string>
    <key>💤</key>
    <string>57660</string>
    <key>💨</key>
    <string>58160</string>
    <key>💦</key>
    <string>58161</string>
    <key>🎶</key>
    <string>58150</string>
    <key>🎵</key>
    <string>57406</string>
    <key>🔥</key>
    <string>57629</string>
    <key>💩</key>
    <string>57434</string>
    <key>👍</key>
    <string>57358</string>
    <key>👎</key>
    <string>58401</string>
    <key>👌</key>
    <string>58400</string>
    <key>👊</key>
    <string>57357</string>
    <key>✊</key>
    <string>57360</string>
    <key>✌</key>
    <string>57361</string>
    <key>👋</key>
    <string>58398</string>
    <key>✋</key>
    <string>57362</string>
    <key>👐</key>
    <string>58402</string>
    <key>👆</key>
    <string>57902</string>
    <key>👇</key>
    <string>57903</string>
    <key>👉</key>
    <string>57905</string>
    <key>👈</key>
    <string>57904</string>
    <key>🙌</key>
    <string>58407</string>
    <key>🙏</key>
    <string>58397</string>
    <key>☝</key>
    <string>57359</string>
    <key>👏</key>
    <string>58399</string>
    <key>💪</key>
    <string>57676</string>
    <key>🚶</key>
    <string>57857</string>
    <key>🏃</key>
    <string>57621</string>
    <key>👫</key>
    <string>58408</string>
    <key>💃</key>
    <string>58655</string>
    <key>👯</key>
    <string>58409</string>
    <key>🙆</key>
    <string>58404</string>
    <key>🙅</key>
    <string>58403</string>
    <key>💁</key>
    <string>57939</string>
    <key>🙇</key>
    <string>58406</string>
    <key>💏</key>
    <string>57617</string>
    <key>💑</key>
    <string>58405</string>
    <key>💆</key>
    <string>58142</string>
    <key>💇</key>
    <string>58143</string>
    <key>💅</key>
    <string>58141</string>
    <key>👦</key>
    <string>57345</string>
    <key>👧</key>
    <string>57346</string>
    <key>👩</key>
    <string>57349</string>
    <key>👨</key>
    <string>57348</string>
    <key>👶</key>
    <string>58650</string>
    <key>👵</key>
    <string>58649</string>
    <key>👴</key>
    <string>58648</string>
    <key>👱</key>
    <string>58645</string>
    <key>👲</key>
    <string>58646</string>
    <key>👳</key>
    <string>58647</string>
    <key>👷</key>
    <string>58651</string>
    <key>👮</key>
    <string>57682</string>
    <key>👼</key>
    <string>57422</string>
    <key>👸</key>
    <string>58652</string>
    <key>💂</key>
    <string>58654</string>
    <key>💀</key>
    <string>57628</string>
    <key>👣</key>
    <string>58678</string>
    <key>💋</key>
    <string>57347</string>
    <key>👄</key>
    <string>58396</string>
    <key>👂</key>
    <string>58395</string>
    <key>👀</key>
    <string>58393</string>
    <key>👃</key>
    <string>58394</string>
    <key>☀</key>
    <string>57418</string>
    <key>☔</key>
    <string>57419</string>
    <key>☁</key>
    <string>57417</string>
    <key>⛄</key>
    <string>57416</string>
    <key>🌙</key>
    <string>57420</string>
    <key>⚡</key>
    <string>57661</string>
    <key>🌀</key>
    <string>58435</string>
    <key>🌊</key>
    <string>58430</string>
    <key>🐱</key>
    <string>57423</string>
    <key>🐶</key>
    <string>57426</string>
    <key>🐭</key>
    <string>57427</string>
    <key>🐹</key>
    <string>58660</string>
    <key>🐰</key>
    <string>58668</string>
    <key>🐺</key>
    <string>58666</string>
    <key>🐸</key>
    <string>58673</string>
    <key>🐯</key>
    <string>57424</string>
    <key>🐨</key>
    <string>58663</string>
    <key>🐻</key>
    <string>57425</string>
    <key>🐷</key>
    <string>57611</string>
    <key>🐮</key>
    <string>58667</string>
    <key>🐗</key>
    <string>58671</string>
    <key>🐒</key>
    <string>58664</string>
    <key>🐴</key>
    <string>57370</string>
    <key>🐎</key>
    <string>57652</string>
    <key>🐫</key>
    <string>58672</string>
    <key>🐑</key>
    <string>58665</string>
    <key>🐘</key>
    <string>58662</string>
    <key>🐍</key>
    <string>58669</string>
    <key>🐦</key>
    <string>58657</string>
    <key>🐤</key>
    <string>58659</string>
    <key>🐔</key>
    <string>58670</string>
    <key>🐧</key>
    <string>57429</string>
    <key>🐛</key>
    <string>58661</string>
    <key>🐙</key>
    <string>57610</string>
    <key>🐵</key>
    <string>57609</string>
    <key>🐠</key>
    <string>58658</string>
    <key>🐟</key>
    <string>57369</string>
    <key>🐳</key>
    <string>57428</string>
    <key>🐬</key>
    <string>58656</string>
    <key>💐</key>
    <string>58118</string>
    <key>🌸</key>
    <string>57392</string>
    <key>🌷</key>
    <string>58116</string>
    <key>🍀</key>
    <string>57616</string>
    <key>🌹</key>
    <string>57394</string>
    <key>🌻</key>
    <string>58117</string>
    <key>🌺</key>
    <string>58115</string>
    <key>🍁</key>
    <string>57624</string>
    <key>🍃</key>
    <string>58439</string>
    <key>🍂</key>
    <string>57625</string>
    <key>🌴</key>
    <string>58119</string>
    <key>🌵</key>
    <string>58120</string>
    <key>🌾</key>
    <string>58436</string>
    <key>🐚</key>
    <string>58433</string>
    <key>🎍</key>
    <string>58422</string>
    <key>💝</key>
    <string>58423</string>
    <key>🎎</key>
   <string>58424</string>
    <key>🎒</key>
    <string>58426</string>
    <key>🎓</key>
    <string>58425</string>
    <key>🎏</key>
    <string>58427</string>
    <key>🎆</key>
    <string>57623</string>
    <key>🎇</key>
    <string>58432</string>
    <key>🎐</key>
    <string>58434</string>
    <key>🎑</key>
    <string>58438</string>
    <key>🎃</key>
    <string>58437</string>
    <key>👻</key>
    <string>57627</string>
    <key>🎅</key>
    <string>58440</string>
    <key>🎄</key>
    <string>57395</string>
    <key>🎁</key>
    <string>57618</string>
    <key>🔔</key>
    <string>58149</string>
    <key>🎉</key>
    <string>58130</string>
    <key>🎈</key>
    <string>58128</string>
    <key>💿</key>
    <string>57638</string>
    <key>📀</key>
    <string>57639</string>
    <key>📷</key>
    <string>57352</string>
    <key>🎥</key>
    <string>57405</string>
    <key>💻</key>
    <string>57356</string>
    <key>📺</key>
    <string>57642</string>
    <key>📱</key>
    <string>57354</string>
    <key>📠</key>
    <string>57355</string>
    <key>☎</key>
    <string>57353</string>
    <key>💽</key>
    <string>58134</string>
    <key>📼</key>
    <string>57641</string>
    <key>🔊</key>
    <string>57665</string>
    <key>📢</key>
    <string>57666</string>
    <key>📣</key>
    <string>58135</string>
    <key>📻</key>
    <string>57640</string>
    <key>📡</key>
    <string>57675</string>
    <key>➿</key>
    <string>57873</string>
    <key>🔍</key>
    <string>57620</string>
    <key>🔓</key>
    <string>57669</string>
    <key>🔒</key>
    <string>57668</string>
    <key>🔑</key>
    <string>57407</string>
    <key>✂</key>
    <string>58131</string>
    <key>🔨</key>
    <string>57622</string>
    <key>💡</key>
    <string>57615</string>
    <key>📲</key>
    <string>57604</string>
    <key>📩</key>
    <string>57603</string>
    <key>📫</key>
    <string>57601</string>
    <key>📮</key>
    <string>57602</string>
    <key>🛀</key>
    <string>57663</string>
    <key>🚽</key>
    <string>57664</string>
    <key>💺</key>
    <string>57631</string>
    <key>💰</key>
    <string>57647</string>
    <key>🔱</key>
    <string>57393</string>
    <key>🚬</key>
    <string>58126</string>
    <key>💣</key>
    <string>58129</string>
    <key>🔫</key>
    <string>57619</string>
    <key>💊</key>
    <string>58127</string>
    <key>💉</key>
    <string>57659</string>
    <key>🏈</key>
    <string>58411</string>
    <key>🏀</key>
    <string>58410</string>
    <key>⚽</key>
    <string>57368</string>
    <key>⚾</key>
    <string>57366</string>
    <key>🎾</key>
    <string>57365</string>
    <key>⛳</key>
    <string>57364</string>
    <key>🎱</key>
    <string>58412</string>
    <key>🏊</key>
    <string>58413</string>
    <key>🏄</key>
    <string>57367</string>
    <key>🎿</key>
    <string>57363</string>
    <key>♠</key>
    <string>57870</string>
    <key>♥</key>
    <string>57868</string>
    <key>♣</key>
    <string>57871</string>
    <key>♦</key>
    <string>57869</string>
    <key>🏆</key>
    <string>57649</string>
    <key>👾</key>
    <string>57643</string>
    <key>🎯</key>
    <string>57648</string>
    <key>🀄</key>
    <string>57645</string>
    <key>🎬</key>
    <string>58148</string>
    <key>📝</key>
    <string>58113</string>
    <key>📖</key>
    <string>57672</string>
    <key>🎨</key>
    <string>58626</string>
    <key>🎤</key>
    <string>57404</string>
    <key>🎧</key>
    <string>58122</string>
    <key>🎺</key>
    <string>57410</string>
    <key>🎷</key>
    <string>57408</string>
    <key>🎸</key>
    <string>57409</string>
    <key>〽</key>
    <string>57644</string>
    <key>👟</key>
    <string>57351</string>
    <key>👡</key>
    <string>58138</string>
    <key>👠</key>
    <string>57662</string>
    <key>👢</key>
    <string>58139</string>
    <key>👕</key>
    <string>57350</string>
    <key>👔</key>
    <string>58114</string>
    <key>👗</key>
    <string>58137</string>
    <key>👘</key>
    <string>58145</string>
    <key>👙</key>
    <string>58146</string>
    <key>🎀</key>
    <string>58132</string>
    <key>🎩</key>
    <string>58627</string>
    <key>👑</key>
    <string>57614</string>
    <key>👒</key>
    <string>58136</string>
    <key>🌂</key>
    <string>58428</string>
    <key>💼</key>
    <string>57630</string>
    <key>👜</key>
    <string>58147</string>
    <key>💄</key>
    <string>58140</string>
    <key>💍</key>
    <string>57396</string>
    <key>💎</key>
    <string>57397</string>
    <key>☕</key>
    <string>57413</string>
    <key>🍵</key>
    <string>58168</string>
    <key>🍺</key>
    <string>57415</string>
    <key>🍻</key>
    <string>58124</string>
    <key>🍸</key>
    <string>57412</string>
    <key>🍶</key>
    <string>58123</string>
    <key>🍴</key>
    <string>57411</string>
    <key>🍔</key>
    <string>57632</string>
    <key>🍟</key>
    <string>58171</string>
    <key>🍝</key>
    <string>58175</string>
    <key>🍛</key>
    <string>58177</string>
    <key>🍱</key>
    <string>58188</string>
    <key>🍣</key>
    <string>58180</string>
    <key>🍙</key>
    <string>58178</string>
    <key>🍘</key>
    <string>58173</string>
    <key>🍚</key>
    <string>58174</string>
    <key>🍜</key>
    <string>58176</string>
    <key>🍲</key>
    <string>58189</string>
    <key>🍞</key>
    <string>58169</string>
    <key>🍳</key>
    <string>57671</string>
    <key>🍢</key>
    <string>58179</string>
    <key>🍡</key>
    <string>58172</string>
    <key>🍦</key>
    <string>58170</string>
    <key>🍧</key>
    <string>58431</string>
    <key>🎂</key>
    <string>58187</string>
    <key>🍰</key>
    <string>57414</string>
    <key>🍎</key>
    <string>58181</string>
    <key>🍊</key>
    <string>58182</string>
    <key>🍉</key>
    <string>58184</string>
    <key>🍓</key>
    <string>58183</string>
    <key>🍆</key>
    <string>58186</string>
    <key>🍅</key>
    <string>58185</string>
    <key>🏠</key>
    <string>57398</string>
    <key>🏫</key>
    <string>57687</string>
    <key>🏢</key>
    <string>57400</string>
    <key>🏣</key>
    <string>57683</string>
    <key>🏥</key>
    <string>57685</string>
    <key>🏦</key>
    <string>57677</string>
    <key>🏪</key>
    <string>57686</string>
    <key>🏩</key>
    <string>58625</string>
    <key>🏨</key>
    <string>57688</string>
    <key>💒</key>
    <string>58429</string>
    <key>⛪</key>
    <string>57399</string>
    <key>🏬</key>
    <string>58628</string>
    <key>🌇</key>
    <string>58442</string>
    <key>🌆</key>
    <string>57670</string>
    <key>🏯</key>
    <string>58629</string>
    <key>🏰</key>
    <string>58630</string>
    <key>⛺</key>
    <string>57634</string>
    <key>🏭</key>
    <string>58632</string>
    <key>🗼</key>
    <string>58633</string>
    <key>🗻</key>
    <string>57403</string>
    <key>🌄</key>
    <string>57421</string>
    <key>🌅</key>
    <string>58441</string>
    <key>🌃</key>
    <string>58443</string>
    <key>🗽</key>
    <string>58653</string>
    <key>🌈</key>
    <string>58444</string>
    <key>🎡</key>
    <string>57636</string>
    <key>⛲</key>
    <string>57633</string>
    <key>🎢</key>
    <string>58419</string>
    <key>🚢</key>
    <string>57858</string>
    <key>🚤</key>
    <string>57653</string>
    <key>⛵</key>
    <string>57372</string>
    <key>✈</key>
    <string>57373</string>
    <key>🚀</key>
    <string>57613</string>
    <key>🚲</key>
    <string>57654</string>
    <key>🚙</key>
    <string>58414</string>
    <key>🚗</key>
    <string>57371</string>
    <key>🚕</key>
    <string>57690</string>
    <key>🚌</key>
    <string>57689</string>
    <key>🚓</key>
    <string>58418</string>
    <key>🚒</key>
    <string>58416</string>
    <key>🚑</key>
    <string>58417</string>
    <key>🚚</key>
    <string>58415</string>
    <key>🚃</key>
    <string>57374</string>
    <key>🚉</key>
    <string>57401</string>
    <key>🚄</key>
    <string>58421</string>
    <key>🚅</key>
    <string>57375</string>
    <key>🎫</key>
    <string>57637</string>
    <key>⛽</key>
    <string>57402</string>
    <key>🚥</key>
    <string>57678</string>
    <key>⚠</key>
    <string>57938</string>
    <key>🚧</key>
    <string>57655</string>
    <key>🔰</key>
    <string>57865</string>
    <key>🏧</key>
    <string>57684</string>
    <key>🎰</key>
    <string>57651</string>
    <key>🚏</key>
    <string>57680</string>
    <key>💈</key>
    <string>58144</string>
    <key>♨</key>
    <string>57635</string>
    <key>🏁</key>
    <string>57650</string>
    <key>🎌</key>
    <string>57667</string>
    <key>🇯🇵</key>
    <string>58635</string>
    <key>🇰🇷</key>
    <string>58644</string>
    <key>🇨🇳</key>
    <string>58643</string>
    <key>🇺🇸</key>
    <string>58636</string>
    <key>🇫🇷</key>
    <string>58637</string>
    <key>🇪🇸</key>
    <string>58641</string>
    <key>🇮🇹</key>
    <string>58639</string>
    <key>🇷🇺</key>
    <string>58642</string>
    <key>🇬🇧</key>
    <string>58640</string>
    <key>🇩🇪</key>
    <string>58638</string>
    <key>1⃣</key>
    <string>57884</string>
    <key>2⃣</key>
    <string>57885</string>
    <key>3⃣</key>
    <string>57886</string>
    <key>4⃣</key>
    <string>57887</string>
    <key>5⃣</key>
    <string>57888</string>
    <key>6⃣</key>
    <string>57889</string>
    <key>7⃣</key>
    <string>57890</string>
    <key>8⃣</key>
    <string>57891</string>
    <key>9⃣</key>
    <string>57892</string>
    <key>0⃣</key>
    <string>57893</string>
    <key>#⃣</key>
    <string>57872</string>
    <key>⬆</key>
    <string>57906</string>
    <key>⬇</key>
    <string>57907</string>
    <key>⬅</key>
    <string>57909</string>
    <key>➡</key>
    <string>57908</string>
    <key>↖</key>
    <string>57910</string>
    <key>↗</key>
    <string>57911</string>
    <key>↘</key>
    <string>57912</string>
    <key>↙</key>
    <string>57913</string>
    <key>◀</key>
    <string>57915</string>
    <key>▶</key>
    <string>57914</string>
    <key>⏪</key>
    <string>57917</string>
    <key>⏩</key>
    <string>57916</string>
    <key>🆗</key>
    <string>57933</string>
    <key>🆕</key>
    <string>57874</string>
    <key>🔝</key>
    <string>57932</string>
    <key>🆙</key>
    <string>57875</string>
    <key>🆒</key>
    <string>57876</string>
    <key>🎦</key>
    <string>58631</string>
    <key>🈁</key>
    <string>57859</string>
    <key>📶</key>
    <string>57867</string>
    <key>🈵</key>
    <string>57898</string>
    <key>🈳</key>
    <string>57899</string>
    <key>🉐</key>
    <string>57894</string>
    <key>🈹</key>
    <string>57895</string>
    <key>🈯</key>
    <string>57900</string>
    <key>🈺</key>
    <string>57901</string>
    <key>🈶</key>
    <string>57877</string>
    <key>🈚</key>
    <string>57878</string>
    <key>🈷</key>
    <string>57879</string>
    <key>🈸</key>
    <string>57880</string>
    <key>🈂</key>
    <string>57896</string>
    <key>🚻</key>
    <string>57681</string>
    <key>🚹</key>
    <string>57656</string>
    <key>🚺</key>
    <string>57657</string>
    <key>🚼</key>
    <string>57658</string>
    <key>🚭</key>
    <string>57864</string>
    <key>🅿</key>
    <string>57679</string>
    <key>♿</key>
    <string>57866</string>
    <key>🚇</key>
    <string>58420</string>
    <key>🚾</key>
    <string>58121</string>
    <key>㊙</key>
    <string>58133</string>
    <key>㊗</key>
    <string>58125</string>
    <key>🔞</key>
    <string>57863</string>
    <key>🆔</key>
    <string>57897</string>
    <key>✳</key>
    <string>57862</string>
    <key>✴</key>
    <string>57861</string>
    <key>💟</key>
    <string>57860</string>
    <key>🆚</key>
    <string>57646</string>
    <key>📳</key>
    <string>57936</string>
    <key>📴</key>
    <string>57937</string>
    <key>💹</key>
    <string>57674</string>
    <key>💱</key>
    <string>57673</string>
    <key>♈</key>
    <string>57919</string>
    <key>♉</key>
    <string>57920</string>
    <key>♊</key>
    <string>57921</string>
    <key>♋</key>
    <string>57922</string>
    <key>♌</key>
    <string>57923</string>
    <key>♍</key>
    <string>57924</string>
    <key>♎</key>
    <string>57925</string>
    <key>♏</key>
    <string>57926</string>
    <key>♐</key>
    <string>57927</string>
    <key>♑</key>
    <string>57928</string>
    <key>♒</key>
    <string>57929</string>
    <key>♓</key>
    <string>57930</string>
    <key>⛎</key>
    <string>57931</string>
    <key>🔯</key>
    <string>57918</string>
    <key>🅰</key>
    <string>58674</string>
    <key>🅱</key>
    <string>58675</string>
    <key>🆎</key>
    <string>58676</string>
    <key>🅾</key>
    <string>58677</string>
    <key>🔲</key>
    <string>57882</string>
    <key>🔴</key>
    <string>57881</string>
    <key>🔳</key>
    <string>57883</string>
    <key>🕛</key>
    <string>57391</string>
    <key>🕐</key>
    <string>57380</string>
    <key>🕑</key>
    <string>57381</string>
    <key>🕒</key>
    <string>57382</string>
    <key>🕓</key>
    <string>57383</string>
    <key>🕔</key>
    <string>57384</string>
    <key>🕕</key>
    <string>57385</string>
    <key>🕖</key>
    <string>57386</string>
    <key>🕗</key>
    <string>57387</string>
    <key>🕘</key>
    <string>57388</string>
    <key>🕙</key>
    <string>57389</string>
    <key>🕚</key>
    <string>57390</string>
    <key>⭕</key>
    <string>58162</string>
    <key>❌</key>
    <string>58163</string>
    <key>©</key>
    <string>57934</string>
    <key>®</key>
    <string>57935</string>
    <key>™</key>
    <string>58679</string>
    </dict>
</plist>
